<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper
	namespace="com.spring.dct.freeboard.mapper.IFreeBoardMapper">

	<resultMap type="com.spring.dct.vo.CommunitiesVO"	id="BoardMap">
		<id property="communityNo" column="community_no" />
		<result property="userNo" column="user_no" />
		<result property="communityTitle" column="community_title" />
		<result property="communityContent" column="community_content" />
		<result property="communityCreateDate" column="community_create_date" />
		<result property="userNick" column="user_nick" />
		<result property="userName" column="user_name" />
	</resultMap>

	<sql id="search">
		<if test="condition == 'title'">
			WHERE community_title LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'content'">
			WHERE community_content LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'writer'">
			WHERE user_name LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'titleContent'">
			WHERE community_title LIKE '%'||#{keyword}||'%'
			OR
			community_content LIKE '%'||#{keyword}||'%'
		</if>
	</sql>

	<insert id="regist">
		INSERT INTO communities(community_no, community_title, user_no, community_content, user_nick, user_name)
		VALUES(community_no_SEQ.NEXTVAL, #{communityTitle}, #{userNo}, #{communityContent}, #{userNick, jdbcType = VARCHAR}, #{userName})
	</insert>

	<select id="getList" 
		resultMap="BoardMap">
		SELECT * FROM	
			(
			SELECT ROWNUM AS rn, tbl.* FROM
				(
				SELECT * FROM communities
				<include refid="search" />
				ORDER BY community_no DESC
				) tbl
			)
		<![CDATA[
		WHERE rn > (#{pageNum} - 1) * #{countPerPage}
		AND rn <= #{pageNum} * #{countPerPage}
		]]>
	</select>

	<select id="getTotal" resultType="int">
		SELECT COUNT(*)
		FROM communities
		<include refid="search" />
	</select>

	<select id="getContent"
		resultMap="BoardMap">
		SELECT * FROM communities
		WHERE community_no = #{communityNo}
	</select>

	<update id="update">
		UPDATE communities
		SET community_title =
		#{communityTitle}, community_content = #{communityContent}
		WHERE community_no = #{communityNo}
	</update>

	<delete id="delete">
		DELETE FROM communities
		WHERE community_no = #{communityNo}
	</delete>

</mapper>