<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.spring.dct.lecture.mapper.ILectureMapper">
  
  <resultMap type="com.spring.dct.vo.OnlineLectureUplaodVO" id="uploadMap">
  		<id property="lectureNo" column="lecture_no" />
  		<result property="userNo" column="user_no" />
		<result property="categoryNo" column="category_no" />	
		<result property="adminId" column="admin_id" />	
		<result property="lectureWriter" column="lecture_writer" />
		<result property="lectureTitle" column="lecture_title" />	
		<result property="lectureContent" column="lecture_content" />	
		<result property="lecturePrice" column="lecture_price" />	
		<result property="lectureDiscountPrice" column="lecture_discount_price" />	
		<result property="lectureLike" column="lecture_like" />	
		<result property="thumbnailUploadpath" column="thumbnail_uploadpath" />	
		<result property="thumbnailFileLoca" column="thumbnail_fileloca" />	
		<result property="thumbnailFilename" column="thumbnail_filename" />	
		<result property="thumbnailFilerealname" column="thumbnail_filerealname" />	
		<result property="videoUploadpath" column="video_uploadpath" />	
		<result property="videoFileLoca" column="video_fileloca" />	
		<result property="videoFilename" column="video_filename" />	
		<result property="videoFilerealname" column="video_filerealname" />	
		<result property="lectureCreateDate" column="LECTURE_CREATE_DATE" />	
  
  </resultMap>
  
  
  	<sql id="search">
		<if test="condition == 'title'">
		WHERE lecture_title LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'writer'">
		WHERE lecture_writer LIKE '%'||#{keyword}||'%'
		</if>
		<if test="condition == 'writerTitle'">
		WHERE lecture_title LIKE '%'||#{keyword}||'%'
		OR lecture_writer LIKE '%'||#{keyword}||'%'
		</if>
	</sql>
	<sql id="category">
		<if test="categoryNum == 1">
		WHERE category_no LIKE '%'||#{categoryNum}||'%'
		</if>
		<if test="categoryNum == 2">
		WHERE category_no LIKE '%'||#{categoryNum}||'%'
		</if>
		<if test="categoryNum == 3">
		WHERE category_no LIKE '%'||#{categoryNum}||'%'
		</if>
		<if test="categoryNum == 4">
		WHERE category_no LIKE '%'||#{categoryNum}||'%'
		</if>
	</sql>
		
  
  
  
  
  
  <!-- 게시물 등록 -->
  <!-- values 안에 VO 변수,  괄호 안이 table 컬럼 -->
  <!-- mybatis에서 값을 보내줄때도 null이 들어가면 안됨. 그래서 null이 들어갈거라고 알려줘야 함 #{adminId, jdbcType = VARCHAR} -->
  <insert id="regist">
  INSERT INTO onlinelecture_upload
  (lecture_no, user_no, category_no, lecture_writer,admin_id, lecture_title, lecture_content, lecture_price,lecture_discount_price, lecture_like,
  thumbnail_uploadpath, thumbnail_fileloca, thumbnail_filename, thumbnail_filerealname, video_uploadpath,
  video_fileloca, video_filename, video_filerealname, lecture_create_date)
  VALUES 
  (lecture_no_seq.NEXTVAL , #{userNo}, #{categoryNo}, #{lectureWriter} ,#{adminId, jdbcType = VARCHAR}, #{lectureTitle}, #{lectureContent}, #{lecturePrice},
  #{lectureDiscountPrice},#{lectureLike}, #{thumbnailUploadpath},#{thumbnailFileLoca},#{thumbnailFilename},
  #{thumbnailFilerealname},#{videoUploadpath},#{videoFileLoca},#{videoFilename},#{videoFilerealname}, sysdate)
  	
  </insert>
  
  
  
  <select id="getList" resultMap="uploadMap">
  SELECT * FROM
		(
		SELECT ROWNUM AS rn, tbl.* FROM	
			(
			SELECT * FROM onlinelecture_upload
			
			<include refid="search" />
			<include refid="category" />						
			ORDER BY lecture_no DESC
			) tbl
		)
	<![CDATA[	
	WHERE rn > (#{pageNum}-1) * #{countPerPage}
	AND rn <= #{pageNum} * #{countPerPage}
	]]>
  </select>
  
  
	<!-- 업로드 강의 수 조회 기능-->
	<select id="getTotal" resultType="int">
      SELECT COUNT(*)
      FROM onlinelecture_upload
      <include refid="search" /> 
      <include refid="category" /> 
   </select>  
  
	
	<!-- 업로드 강의 내용 조회 -->
  	<select id="getContent" resultMap="uploadMap">
  		SELECT * FROM onlinelecture_upload
  		WHERE lecture_no = #{lectureNO}
  		
  	</select>
  		
  	
  	<!-- 업로드 강의 수정 -->
  	<update id="update">
  		UPDATE onlinelecture_upload
  		SET lecture_writer= #{lectureWriter}, lecture_title= #{lectureTitle}, category_no = #{categoryNo},
  			lecture_price= #{lecturePrice}, lecture_content= #{lectureContent}, thumbnail_uploadpath= #{thumbnailUploadpath},
  			thumbnail_fileloca= #{thumbnailFileLoca}, thumbnail_filename= #{thumbnailFilename}, thumbnail_filerealname= #{thumbnailFilerealname},
  			video_uploadpath= #{videoUploadpath}, video_fileloca= #{videoFileLoca}, video_filename= #{videoFilename}, video_filerealname= #{videoFilerealname}, lecture_create_date= sysdate 
  		WHERE lecture_no= #{lectureNo}
  	</update>
	

	<!-- 업로드 강의 삭제 -->
	<delete id="delete">
  		DELETE FROM onlinelecture_upload
  		WHERE lecture_No= #{lectureNo}
  	
  	</delete>
  
  
  
  </mapper>