<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.dct.user.mapper.IUserMapper">

	<resultMap type="com.spring.dct.vo.UsersVO" id="userInfo">
		<id property="userNo" column="USER_NO" />
		<result property="adminId" column="ADMIN_ID" />
		<result property="userId" column="USER_ID" />
		<result property="userPw" column="USER_PW"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userZipcode" column="USER_ZIPCODE"/>
		<result property="userAddress" column="USER_ADDRESS"/>
		<result property="userAddressDetails" column="USER_ADDRESS_DETAILS"/>
		<result property="userEmailReceivedStatus" column="USER_EMAIL_RECEIVED_STATUS"/>
		<result property="sessionId" column="SESSION_ID"/>
		<result property="limitTime" column="LIMIT_TIME"/>
		
		<collection property="userUploadList" resultMap="list"></collection>	
	</resultMap>
	
	<resultMap type="com.spring.dct.vo.OnlineLectureUplaodVO" id="list">
		<result property="lectureNo" column="lecture_no" />
  		<result property="userNo" column="user_no" />
		<result property="categoryNo" column="category_no" />	
		<result property="adminId" column="admin_id" />	
		<result property="lectureWriter" column="lecture_writer" />
		<result property="lectureTitle" column="lecture_title" />	
		<result property="lectureContent" column="lecture_content" />	
		<result property="lecturePrice" column="lecture_price" />	
		<result property="lectureDiscountPrice" column="lecture_discount_price" />	
		<result property="lectureLike" column="lecture_like" />	
		<result property="thumbnailUploadpath" column="thumbnail_uploadpath" />	
		<result property="thumbnailFileLoca" column="thumbnail_fileloca" />	
		<result property="thumbnailFilename" column="thumbnail_filename" />	
		<result property="thumbnailFilerealname" column="thumbnail_filerealname" />	
		<result property="videoUploadpath" column="video_uploadpath" />	
		<result property="videoFileLoca" column="video_fileloca" />	
		<result property="videoFilename" column="video_filename" />	
		<result property="videoFilerealname" column="video_filerealname" />	
		<result property="lectureCreateDate" column="LECTURE_CREATE_DATE" />	
	</resultMap>


	<!-- 아이디 중복 확인 -->
	<!-- int idCheck(String id); -->
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM USERS
		WHERE USER_ID = #{id}
	</select>
	
	<!-- 회원 가입 -->
	<!-- void join(UserVO user); -->
	<insert id="join">
		INSERT INTO USERS(
		USER_NO, USER_ID, USER_PW, USER_NAME, USER_PHONE, USER_EMAIL, USER_ZIPCODE, USER_ADDRESS, USER_ADDRESS_DETAILS
		)
		VALUES(
		user_no_SEQ.NEXTVAL, #{userId}, #{userPw}, #{userName}, #{userPhone}, #{userEmail}, #{userZipcode}, #{userAddress}, #{userAddressDetails}
		)
	</insert>
	
	<select id="getInfo" resultMap="userInfo"> 
		SELECT * FROM USERS
		WHERE USER_ID = #{id} 
	</select>
	
	<!-- 로그인 -->
	<!-- UserVO login(@Param("userId") String userId, @Param("userPw") String userPw); -->
	<select id="login" resultMap="userInfo"> 
		SELECT * FROM USERS
		WHERE USER_ID = #{id} 
		AND USER_PW = #{pw}
	</select>
	
	<!-- 회원이 등록한 게시물 가져오기 -->
	<select id="getUploadList" resultMap="userInfo"> 
		SELECT  u.USER_NO, u.USER_ID, u.USER_PW, u.USER_NAME, u.USER_NICK, u.USER_PHONE, u.USER_EMAIL, u.USER_ZIPCODE, u.USER_ADDRESS, u.USER_ADDRESS_DETAILS, 
		o.lecture_no, o.user_no, o.lecture_writer, o.lecture_title, o.thumbnail_fileloca, o.thumbnail_filename, o.video_fileloca, o.video_filerealname, 
		o.category_no, o.lecture_price, o.lecture_create_date
		
		FROM USERS u LEFT OUTER JOIN onlinelecture_upload o
		ON u.USER_NO = o.user_no
		WHERE USER_ID = #{id} 
		ORDER BY o.lecture_no DESC
	</select>
	
	<!-- 회원 정보 수정 -->
	<!-- void updateUser(UsersVO vo); -->
	<update id="updateUser">
		UPDATE USERS
		SET 
			USER_PW = #{userPw},
			USER_PHONE = #{userPhone, jdbcType=VARCHAR},
			USER_EMAIL = #{userEmail, jdbcType=VARCHAR},
			USER_ZIPCODE = #{userZipcode, jdbcType=VARCHAR},
			USER_ADDRESS = #{userAddress, jdbcType=VARCHAR},
			USER_ADDRESS_DETAILS = #{userAddressDetails, jdbcType=VARCHAR}
		WHERE 
			USER_ID = #{userId}
	</update>
	
	<!-- 회원 정보 삭제 -->
	<!-- void deleteUser(@Param("userId") String id, @Param("userPw") String userPw); -->
	<delete id="deleteUser">
		DELETE FROM USERS
		WHERE USER_ID = #{userId} 
	</delete>

	<!-- 자동 로그인을 체크한 경우 쿠키값(세션 아이디)과 유효시간을 갱신 -->	
	<update id="keepLogin">
		UPDATE USERS
		SET session_id = #{sessionId},
			limit_time = #{limitDate}
		WHERE USER_ID = #{id} 
	</update>
	
	<!-- 자동 로그인을 신청한 회원이 사이트 재방문 시 로컬에 저장된 쿠키값(세션ID)과 일치하는 회원의 모든 정보를 조회 -->
	<select id="getUserWithSessionId" resultMap="userInfo">
		SELECT * FROM USERS
		WHERE session_id = #{sessionId}
	</select>
	
	<!-- 아이디 찾기 -->
    <select id="searchId" resultMap="userInfo">
        SELECT * FROM USERS
        WHERE USER_EMAIL = #{userEmail}
    </select>
    
    <select id="searchIdCheck" resultType="int">
		SELECT COUNT(*) FROM USERS
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<!-- 비밀번호 찾기 -->
    <select id="searchPw" resultMap="userInfo">
        SELECT * FROM USERS
        WHERE USER_EMAIL = #{userEmail}
    </select>
    
    <select id="searchPwCheck" resultType="int">
		SELECT COUNT(*) FROM USERS
		WHERE USER_EMAIL = #{userEmail}
	</select>
	
	<!-- 비밀번호 찾기에서 비밀번호 수정-->
	<update id="updatePw">
		UPDATE USERS
		SET 
			USER_PW = #{userPw}
		WHERE 
			USER_ID = #{userId}
	</update>
	

</mapper>