<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.dct.visit.mapper.IVisitorMapper">
	
	<select id="getTodayCount" resultType="int">
		SELECT COUNT(*) 
		FROM VISITOR
		WHERE TO_CHAR(VISITOR, 'yy-mm-dd') = TO_CHAR(sysdate, 'yy-mm-dd')
	</select>
	
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM VISITOR
	</select>
	
	<insert id="setVisitTotalCount">
	    INSERT INTO VISITOR VALUES (sysdate)
	</insert>
	
</mapper>